@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url(/client/images/lines2.png.png);
  overflow: hidden;
}

/* Styling the Nav */

#logo-brand {
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  color: #04396d;
}

#brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  border: 1px solid;
  border-color: #04396d;
  width: 100%;
  height: 102px;
}

ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

#nav-item1 :hover {
  background-color: #04396d;
  width: 130px;
  height: 45px;
  color: white;
  padding: 10px;
}

#nav-item2 :hover {
  background-color: #04396d;
  width: 157px;
  height: 45px;
  color: white;
  padding: 10px;
}

.wrapper {
  padding-top: 3rem;
}

.vote-title h1 {
  line-height: 60px;
  font-weight: bolder;
}

.vote-title span {
  color: #04396d;
}

.vote-title p {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

.phone-image {
  width: 268px;
  height: 480px;
  margin-left: 25%;
}

/* Styling the form */

#submit {
  background-color: #04396d;
  color: white;
  height: 67px;
}

#firstname {
  height: 60px;
  border-color: #04396d;
}

#lastname {
  height: 60px;
  border-color: #04396d;
}

#email {
  height: 60px;
  border-color: #04396d;
}

#phone {
  height: 60px;
  border-color: #04396d;
}

#message {
  border-color: #04396d;
}

.form-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
}

.form-text {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  width: 600px;
}

/* Styling the Join the waitlist page */

#text {
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  padding-top: 5rem;
}

.ballot {
  color: #04396d;
}

#sub-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

.waitlist-input {
  width: 310px;
  height: 52px;
  padding: 5px;
  border-color: #04396d;
  margin-top: 2rem;
}

.btn4 {
  width: 198px;
  height: 52px;
  background-color: #04396d;
  color: white;
}

.message {
  width: 100%;
  position: relative;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

.message .success {
  font-size: 15px;
  font-weight: bolder;
  color: #04396d;
  margin-top: 5px;
  display: none;
}

.seccess {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.check-icon img {
  width: 50px;
  height: 50px;
}

.message .danger {
  font-size: 20px;
  font-weight: bold;
  color: red;
  display: none;
}

.join-waitlist {
  padding-top: 2rem;
}

.social-media-icons {
  display: flex;
  list-style-type: none;
  gap: 15px;
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
}

@media (min-width: 320px) and (max-width: 480px) {
  nav {
    width: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
    display: block;
  }

  .vote-title h1 {
    line-height: 35px;
  }

  .phone-image {
    margin-left: 10% !important;
  }

  .join-waitlist {
    display: block;
    row-gap: 20px;
  }

  .form-text {
    width: 400px;
  }

  #navbarText {
    margin-top: 1rem;
    font-size: 20px;
    background-color: whitesmoke;
    color: white;
  }

  .check-icon img {
    width: 30px;
    height: 30px;
  }

  #nav-item2 {
    color: white;
  }

  #nav-item1 :hover {
    background-color: #04396d;
    width: 100%;
    height: 40px;
    color: white;
    padding: 5px;
  }

  #nav-item2 :hover {
    background-color: #04396d;
    width: 100%;
    height: 40px;
    color: white;
    padding: 5px;
  }

}

@media (min-width: 744px) and (max-width: 990px) {
  nav {
    width: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
    display: block;
  }

  .vote-title h1 {
    line-height: 45px;
  }

  .phone-image {
    margin-left: 20%;
  }

  #navbarText {
    margin-top: 15px;
    height: 150px;
    background-color: whitesmoke;
  }

  #nav-item {
    gap: 10px !important;
    margin-top: 0.5rem;
  }

  #nav-item1 {
    font-size: 25px;
    font-weight: 300;
    color: white;
  }

  .success {
    font-size: 10px;
    font-weight: 600;
  }

  .check-icon img {
    width: 30px;
    height: 30px;
  }

  #nav-item2 {
    font-size: 25px;
    font-weight: 300;
    color: white;
    margin-top: 10px;
  }

  #nav-item1 :hover {
    background-color: #04396d;
    width: 100%;
    height: 45px;
    color: white;
  }

  #nav-item2 :hover {
    background-color: #04396d;
    width: 100%;
    height: 45px;
    color: white;
  }

  ul {
    gap: 10px !important;
    margin-top: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 730px) {
  nav {
    width: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
    display: block;
  }

  .vote-title h1 {
    line-height: 40px;
  }

  .success {
    margin: 0px !important;
    padding: 0;
  }

  ul {
    gap: 3px !important;
    margin-top: 1rem;
  }

  #nav-item1 {
    font-size: 20px;
    font-weight: 300;
    color: white;
  }

  .success {
    font-size: 10px;
    font-weight: 600;
  }

  .check-icon img {
    width: 30px;
    height: 30px;
  }

  #nav-item2 {
    font-size: 20px;
    font-weight: 300;
    color: white;
  }

  #navbarText {
    margin-top: 0.5rem;
    height: 7rem;
    font-size: 20px;
    background-color: whitesmoke;
    color: white;
  }

  .check-icon img {
    width: 30px;
    height: 30px;
  }

  #nav-item2 {
    color: white;
  }

  #nav-item1 :hover {
    background-color: #04396d;
    width: 100%;
    height: 40px;
    color: white;
    padding: 5px;
  }

  #nav-item2 :hover {
    background-color: #04396d;
    width: 100%;
    height: 40px;
    color: white;
    padding: 5px;
  }

  .form-text {
    width: 75%;
  }
}
